<div class="formRow">
	<div class="label">
		<label for="name">Email:</label>
	</div>
            
	<div class="field">
		<%= f.text_field :email %>
	</div>
</div>
        
<div class="formRow">
	<div class="label">
		<label for="pass">Пароль:</label>
	</div>
            
	<div class="field">
		<%= f.password_field :password %>
	</div>
</div>