<div class="formRow">
	<div class="label">
		<label for="name">Логин:</label>
	</div>
            
	<div class="field">
		<input type="text" name="name" id="name" />
	</div>
</div>
        
<div class="formRow">
	<div class="label">
		<label for="pass">Пароль:</label>
	</div>
            
	<div class="field">
		<input type="password" name="pass" id="pass" />
	</div>
</div>