<%= render 'shared/error_messages', :object => f.object %>
<div class="change round">
	<div class="formRow">
		<div class="label">
			<label for="name">Название сайта:</label>
		</div>
            
		<div class="field">
			<%= f.text_field :title %>
		</div>
	</div><br>
</div>
